* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

:root {
  --primary-green: #125e30;
  --light-green: #61a375;
  --dark-green: #0e4725;
  --complementary-orange: #e68a44;
  --teal: #12665e;
  --olive-green: #5c7e38;
  --soft-gray: #d1d5db;
  --dark-charcoal: #333333;
  --accent-gold: #e6c84e;
}

/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--soft-gray); /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for track */
}

::-webkit-scrollbar-thumb {
  background: var(--primary-green); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for thumb */
  border: 1px solid var(--soft-gray); /* Adds a border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--complementary-orange); /* Color of the thumb on hover */
}
